$slightRed: #ff6366;

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #dae0e6;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

p {
    font-family: 'Roboto', sans-serif;
}

.container {
    .svgLanding {
        width: 70%;
        height: auto;
    }
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

#primaryContainer {
    margin-top: 2%;
}
.btn {
    margin-bottom: 1px;
}

.btn-colored {
    background-color: $slightRed;
    color: white;
}

