$slightRed: #ff6366;

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #dae0e6;
}

#hero {
    .heroContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.paragraph {
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.container {
    .svgLanding {
        width: 70%;
        height: auto;
    }
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#primaryContainer {
    margin-top: 2%;
}
.btn {
    margin-bottom: 1px;
}

.btn-colored {
    background-color: $slightRed;
    color: white;
}

.nav-link {
    color: black !important;
}

.tilted {
    transform: rotate(-1deg);
}

.circleImage {
    border-radius: 100%;
}
