$slightRed: #ff6366;

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #dae0e6;
}

#hero {
    .heroContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.paragraph {
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.container {
    .svgLanding {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 70%;
        height: auto;
    }
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#primaryContainer {
    margin-top: 2%;
}
.btn {
    margin-bottom: 1px;
}

.btn-colored {
    background-color: $slightRed;
    color: white;
}

.nav-link {
    color: black !important;
}

.tilted {
    transform: rotate(-1deg);
}

.circleImage {
    border-radius: 100%;
}

li.paragraph {
    list-style-type: none;
}

#hero {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $slightRed;
    color: white;
    flex-direction: column;
    .paragraph {
        font-size: larger;
    }
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
}

footer {
    bottom: 0;
    width: 100%;
}
